.rodapie__item{
    list-style: none;
}

.rodapie__item img{
    transition: all .1s ease-in-out;
}

.rodapie__item img:hover{
    transform: scale(1.1);
    background: #790e0e;
    border-radius: 100%;
}