.rodapie__descripcion{
    display: flex;
    font-size: 2rem;
    margin-left: 5rem;
    color: #8c8c8c;

}

@media screen and (max-width:568px){
    .rodapie__descripcion{
        font-size: 1.5rem;
        margin-left: 3rem;
        text-align: center;
        margin: auto;
    }
}