.sobre__descripcion{
    color: #8C8888;
    font-weight: 100;
    text-align: center;
}

.sobre .descripcion{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100%;
    
}
.sobre .descripcion img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;

}


@media screen and (min-width: 0){
    .sobre__descripcion{
        font-size: 1.3rem;
        text-align: justify;
    }
}

@media screen and (min-width: 768px){
    .sobre__descripcion{
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 0){
    .sobre .descripcion{
        display: inline-block;
    }
}

@media screen and (min-width: 568px){
    .sobre .descripcion{
        display: inline-block;
    }
}

@media screen and (min-width: 992px){
    .sobre .descripcion{
        display: inline-block;
    }
}
