.sobre__titulo{
    color: #DA2B1F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.descripcion{
    width: 450px;
    height: 350px;
    color: rgb(82, 2, 2);

}

@media screen and (min-width: 0){
    .sobre__titulo{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px){
    .sobre__titulo{
        font-size: 3.1875rem;
    }
}